# FF planner, architecture specific
ff
*.o
problem*.pddl
solution*.txt
build/
.idea

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject




.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes



# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
layouts/random01316828Capture.lay
layouts/random16706138Capture.lay
layouts/random18303770Capture.lay
layouts/random20053451Capture.lay
layouts/random28674797Capture.lay
layouts/random36937424Capture.lay
layouts/random38515770Capture.lay
layouts/random49305589Capture.lay
layouts/random56645617Capture.lay
layouts/random57211322Capture.lay
layouts/random81217705Capture.lay
layouts/random89729278Capture.lay
layouts/random91747092Capture.lay
layouts/random93551293Capture.lay
layouts/random06350876Capture.lay
layouts/random19246078Capture.lay
layouts/random29703916Capture.lay
layouts/random46718617Capture.lay
layouts/random52874494Capture.lay
layouts/random55593580Capture.lay
layouts/random56766785Capture.lay
layouts/random67431908Capture.lay
layouts/random77407599Capture.lay
layouts/random87217263Capture.lay
layouts/random93094587Capture.lay
